.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #0f1b35;
  height: 100vh;
}

.chat__messages {
  flex: 1;
  overflow: scroll;
}

.chat__messages::-webkit-scrollbar {
  display: none;
}

.chat__messages {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat__input {
  color: #6c7996;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid #6c7996;
  background-color: #162644;
}

.chat__input > form > input {
  width: 100%;
  padding: 15px;
  background: transparent;
  border: none;
  outline: none;
  color: #6c7996;
  font-size: large;
}
.chat__input > form {
  flex: 1;
}

.chat__inputButton {
  display: none;
}

.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px;
}

.chat__messages::-webkit-scrollbar {
  display: none;
}
