.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #8592ad;
}

.message__info {
  margin-left: 20px;
}

.message__timestamp {
  color: #414d66;
  margin-left: 20px;
  font-size: x-small;
}

.message__info > p {
  font-size: 15px;
}
